{% extends "base.html" %}
{% block content %}
    <div class="card">
        <img src="../static/img/matt-logo.jpg" alt="Matt RODRIGUEZ Avatar/Logo" class="card-img">
        <h1 class="card-title">Matt RODRIGUEZ</h1>
        <h3 class="card-description">I'm a Developer</h3>
        <div class="card-socials-networks">
            <a href="https://github.com/MattRodriguez64"><img src="../static/img/logo/bxl-github.svg" alt="GitHub_logo" class="card-social-network-item"></a>
            <a href="https://www.linkedin.com/in/mattrodriguez64/"><img src="../static/img/logo/bxl-linkedin-square.svg" alt="LinkedIn_logo" class="card-social-network-item"></a>
            <a href="https://twitter.com/MRodriguez64_"><img src="../static/img/logo/bxl-twitter.svg" alt="Twitter_logo" class="card-social-network-item"></a>
            <a href="https://www.instagram.com/?hl=fr"><img src="../static/img/logo/bxl-instagram.svg" alt="Instagram_logo" class="card-social-network-item"></a>
        </div>
    </div>
{% endblock %}
